
// Links
$primary: #FF9900;
$headings-color: #2F2F2F;
$body-color: #6B6B6B;
$link-decoration: none;
$prefix: bs-;
$transition-base-lg: all .2s ease-in-out;
$offcanvas-horizontal-width: 350px;
$btn-padding-y: 12px;
$btn-padding-x: 24px;
$btn-border-radius: 30px;
$btn-font-weight: 700;
$accordion-border-radius: 0;
$spacer: 1rem;
$spacers: ( 0: 0, 1: $spacer * .25, 2: $spacer * .5, 3: $spacer, 4: $spacer * 1.5, 5: $spacer * 3,12: $spacer * 0.75,20: $spacer * 1.25, 24: $spacer * 1.5, 40: $spacer * 2.5,60: $spacer * 3.75, 70: $spacer * 4.375, 80: $spacer * 5,100: $spacer * 6.25,120: $spacer * 7.5, 150: $spacer * 9.375, 180: $spacer * 11.25, 144: $spacer * 9, 250: $spacer * 15.625);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px
);

